body {
  font-family: sans-serif;
  padding: 20px;
  background: #4996f5;
}

form {
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin: 5px 0;
  width: 100%;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #4996f5;
  padding: 10px;
  margin: 5px 0;
  position: relative;
  border: 1px solid #ccc;
}

button.editar, button.excluir {
  margin-left: 10px;
}
